<extend name="Public/base"/>

<block name="style">
<link type="text/css" rel="stylesheet" href="__STATIC__/datetimepicker/css/bootstrap-datetimepicker.min.css"/>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/plugins/jquery.chained.remote.min.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.mymin.js"></script>
<script type="text/javascript" src="__STATIC__/scripts/imageexplorer.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
$(function(){
	var chainOptions = {url:"<?php echo U('District/getchildren'); ?>",clear:true,loading:"加载中..."};
	$('#area').remoteChained($.extend({parents: '#city'},chainOptions));
	$('#busi_area').remoteChained($.extend({parents: '#area'},chainOptions));

	(function($){
		var imgExplorer = new ImageExplorer({container: '#item_container', picsHolder: '#house_pic', countLimit: 4});

		$("#file_upload").uploadify({
			'height': 34,
			'swf': '__STATIC__/uploadify/uploadify.swf',
			'uploader': '<?php echo U("File/uploadhousepic");?>',
			'fileObjName': 'fileUpload',
			'buttonClass': 'btn btn-primary',
			'multi': true,
			'queueID': 'queue_container',
			'formData': {'busi_type': 5},
			//'uploadLimit': 5,
			//'queueSizeLimit': 5,
			'fileSizeLimit': '2MB',
			'buttonText': '上传封面',
			'fileTypeExts': '*.jpg; *.png; *.gif; *.bmp',
			'fileTypeDesc': 'JPG,PNG,GIF,BMP',
			'removeTimeout': 1,
			'onUploadSuccess': function(file, data, response){
				var info = $.parseJSON(data);
				if(info.status == 0){
					if(!imgExplorer.addItem(info)){
						$('#file_upload').uploadify('cancel', '*');
					}
				}else{
					alert(info.info);
				}
			},
			'onUploadError': function(file, errorCode, errorMsg, errorString){
				//alert(file.name + " 上传失败 " + errorCode + " " + errorMsg + " " + errorString);
			},
			'onFallback': function(){
				alert('请先安装Flash插件');
			}
		});
	})(jQuery);

	$('#open_time').datetimepicker({
		language:  'zh-CN',
		format: 'yyyy-mm-dd',
		minView: 2,
		maxView: 4,
		autoclose: 1,
	});

	$('#in_time').datetimepicker({
		language:  'zh-CN',
		format: 'yyyy-mm-dd',
		minView: 2,
		maxView: 4,
		autoclose: 1,
	});
});
</script>
</block>

<block name="content">
	<form action="<notempty name='data.id'>{:U('AgentMarket/edit')}<else/>{:U('AgentMarket/add')}</notempty>" method="post" class="form-horizontal">

		<notempty name='data.id'>
			<input type="hidden" name="id" value="{$data.id}" />
		</notempty>

		<bs:textfield name="title" value="{$data.title}" label="楼盘名称" layout="1:5"/> 
		
		{:W('App/showTag', array('feature', $data['feature'], 4, '特色'))} 

		<bs:formgroup field="price_avg,price_avg2" label="均价" cssClass="control-inline" layout="1:11" errorclass="false">
			<label<bs:haserrorclass field='price_avg'/>>
				<input type="text" name="price_avg" value="{$data.price_avg}" class="form-control control-len-2"/> 元/平米
			</label>

			<label<bs:haserrorclass field='price_avg2'/>>公建均价
				<input type="text" name="price_avg2" value="{$data.price_avg2}" class="form-control control-len-2"/> 元/平米
			</label>

		</bs:formgroup>

		<bs:formgroup field="down_payment,down_payment_max" label="首付" cssClass="control-inline" layout="1:11" errorclass="false">
			<label<bs:haserrorclass field='down_payment'/>>
				<input type="text" name="down_payment" value="{$data.down_payment}" class="form-control control-len-2"/>
				-
			</label>
			<label<bs:haserrorclass field='down_payment_max'/>>
				<input type="text" name="down_payment_max" value="{$data.down_payment_max}" class="form-control control-len-2"/>
				万元
			</label>
		</bs:formgroup>

		<bs:formgroup field="monthly,monthly_max" label="月供" cssClass="control-inline" layout="1:11" errorclass="false">
			<label<bs:haserrorclass field='monthly'/>>
				<input type="text" name="monthly" value="{$data.monthly}" class="form-control control-len-2"/>
				-
			</label>
			<label<bs:haserrorclass field='monthly_max'/>>
				<input type="text" name="monthly_max" value="{$data.monthly_max}" class="form-control control-len-2"/>
				元
			</label>
		</bs:formgroup>

		<bs:textfield name="contact_tel" value="{$data.contact_tel}" label="联系电话" layout="1:3"/>

		{:W('App/showRegionSelect', array($data['city'], $data['area'], $data['busi_area'], '区域', '1:6', $fieldErrors))} 

		<bs:textfield name="loc_txt" value="{$data.loc_txt}" label="位置信息" layout="1:6"/>

		<bs:textfield name="traffic" value="{$data.traffic}" label="交通状况" layout="1:6"/>

		<bs:textfield name="pref_txt" value="{$data.pref_txt}" label="优惠信息" layout="1:8"/>

		<bs:textfield name="open_time" value="{$data.open_time}" label="开盘时间" layout="1:3"/>

		<bs:textfield name="in_time" value="{$data.in_time}" label="入住时间" layout="1:3"/>

		<bs:formgroup field="decorate,property_right" label="" cssClass="control-inline" layout="1:11" errorclass="false">
			<label<bs:haserrorclass field='decorate'/>>
			{:W('App/lookupSelect', array('decorate', $data['decorate'], 'HOUSE_DECORATE_TYPE', '装修情况'))} 
			</label>
			<label<bs:haserrorclass field='property_right'/>>
			{:W('App/lookupSelect', array('property_right', $data['property_right'], 'HOUSE_PROPERTY_RIGHT', '产权类型'))} 
			</label>
		</bs:formgroup> 

		<bs:textfield name="room_square_txt" value="{$data.room_square_txt}" label="户型面积" layout="1:6"/>

		<bs:textfield name="room_count" value="{$data.room_count}" label="户数" layout="1:2"/> 

		<div class="form-group" style="position:relative">
			<div class="col-sm-offset-1 col-sm-2">
				<input type="file" name="fileUpload" id="file_upload"/>
				<input type="hidden" id="house_pic" name="house_pic" value='{$data.house_pic|default="[]"}' />
			</div>
			<div id="queue_container" style="position:absolute;right:0;top:0;z-index:999;"></div>
		</div>
		<div class="form-group">
			<div id="item_container" class="col-sm-offset-1 col-sm-10">
			
			</div>
		</div>

		{:W('App/showAgentMarketImageUpload', array('户型图', 1, $data['roomTypePicList']))}

		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-3">
				<input type="submit" class="btn btn-primary form-control" value="保&nbsp;&nbsp;存"/>
			</div>
			<notempty name="data.id">
			<div class="col-sm-3">
				<a class="btn btn-primary form-control" href="{:get_return_url(U('AgentMarket/lists'))}">返&nbsp;&nbsp;回</a>
			</div>
			</notempty>
		</div>
	</form>
</block>