<extend name="Public/base"/>
<block name="script">
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.my.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
	$('#content').removeClass('form-control');
	window.UEDITOR_HOME_URL = "__STATIC__/ueditor/";
	var editor = UE.getEditor('content');
});
</script>
</block>

<block name="content">

<form role="form" action="{:U('Activity/add')}" method="post" class="form-horizontal">
	<bs:textfield name="title" value="{$data.title}" label="标题" layout="1:4"/>
	<bs:textfield name="description" value="{$data.description}" label="描述" layout="1:4"/>
	<div class="form-group">
		<label for='level' class='control-label col-sm-1'>优先级</label>
		<div class='col-sm-4'>
			<select class="form-control" name="level">
			  <option>0</option>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class='control-label col-sm-1'>详细信息</label>
		<div class='col-sm-11'>
			<bs:textarea name="content" value="{$data.content}" layout="0:12"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-2">
			<input type="submit" class="btn btn-info form-control" value="提&nbsp;&nbsp;交"/>
		</div>
		<div class="col-sm-2">
			<a href="{:U('Activity/index')}" class="btn btn-info form-control">返&nbsp;&nbsp;回</a>
		</div>
	</div>

</form>
	
</block>