<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{$site_title}</title>
		<meta name = "viewport" content = "width=device-width,initial-scale=1,user-scalable=0"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
		<block name="style"></block> 
		<script type="text/javascript">
		var App = {
			ROOT: "__ROOT__",
			MODULE: "<?php echo MODULE_NAME;?>"
		};
		</script>
		<block name="headscript"></block> 
	</head>
	<body>
		<div class="container">
		<block name="content"></block> 
		</div>
		<block name="footscript"></block> 
	</body>
</html>