body{
	padding-top: 50px;
	background-color: #3D3D3D;
}

/* header */
.navbar-brand{
	padding: 0 15px;
}
.navbar-brand img{
	height: 50px;
}

/* sidebar */
.sidebar{
	padding: 47px 0;
}
.list-group-item:first-child {
	border-radius: 0;
}
.list-group-item:last-child {
	border-radius: 0;
}
.sidebar .list-group-item{
	line-height: 25px;
	color: #F3F3F3;
	padding-left: 35px;
	padding-right: 0;
	background-color: #3D3D3D;
	border: none;
	border-top: 1px solid #5C5C5C;
}
.sidebar a.list-group-item:hover{
	background-color: #303030;
}
.sidebar a.list-group-item:focus {
  background-color: #3D3D3D;
}
.sidebar .list-group-item .selected{
	float: right;
	width: 8px;
	height: 25px;
	background-image: url(../images/sidebar-menu-arrow.png);
	background-repeat: no-repeat;
	border-right: none;
}

/* top tab */
.nav-channel{
	background-color: #3D3D3D;
	padding-top: 5px;
	margin: 0 -15px 15px -15px;
}
.nav-channel li{
	margin-left: 15px;
}
.nav-channel li a{
	background-color: #eee;
	color: #555;
}

/* content */
.content{
	background-color: #FEFEFE;
}

/* data-table */
.data-table .form-search{
	margin-bottom: 15px;
}
th.column-check{
	width: 8px !important;
}
th.sortable{
	cursor: pointer;
}