<extend name="Public/base"/>
<block name="content">
  <div class="mapbreak"><span>优惠活动&nbsp;&gt;&nbsp;</span>  </div> 
<div class="content_yhgd">
<!--left start-->
  <div class="yhgd_left">   
          
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="news_tt">
            <tr>
                <td width="103" class="news_tt_left">{$catetitle}</td>
                <td width="637" align="right" class="news_tt_right"></td>
            </tr>
        </table>
        <volist name="lists" id="document">
          <a target="_blank" href="{:U('Home/Activity/detail', array('document_id'=>$document['id'],'category_title'=>$catetitle))}" class="news_link_a"><span>{$document.description}</span> | {$document.title}</a>
        </volist>
        {$page}
  </div>
  <div class="news_right">
    <div class="index_guanzhu"></div>
    <div class="clear"></div>
    <table width="246" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="60"> <a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang3.gif" width="245" height="52" /></a>
          </td>
            </tr>
            <tr>
              <td height="60"> <a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang4.gif" width="245" height="52" /></a></td>
            </tr>
    </table>
  </div>
</div>  


<div class="clear"></div>
</block>