<extend name="Public/base"/>

<block name="style">
<style type="text/css">
.help{
	text-align: center;
}
</style>
</block>

<block name="content">
	<div class="help">
		1.准备
		<br/>
		<img src="__IMG__/sharepath_step1.jpg">
		<br/>
		2.二维码页面
		<br/>
		<img src="__IMG__/sharepath_step2.jpg">
		<br/>
		3.确认信息无误后让用户使用微信扫一扫扫描页面的二维码
		<br/>
		<img src="__IMG__/sharepath_step2_1.jpg">
		<br/>
		4.用户确认信息无误后点击成交按钮，此时页面会自动跳转到分享路径页面
		<br/>
		<img src="__IMG__/sharepath_step2_2.jpg">
		<br/>
		5.输入需要派发的积分数量，点击派发按钮
		<br/>
		<img src="__IMG__/sharepath_step3.jpg">
		<br/>
		6.对用户的积分派发、调整可以在派发记录页面中查看
	</div>
</block>