<extend name="Public/base"/>

<block name="content">
	<div class="page-header">
		<h3>{$data.title}<small>{$data.price}{$data.price_unit}</small></h3>
	</div>
	<img src="{:U('PointAssign/getqrcode', array('token'=>$token))}"/>

	<div>
		请成交用户使用微信扫一扫
	</div>
</block>

<block name="footscript">
<script type="text/javascript">
function checkQrcodeScan(){
	$.getJSON('<?php echo U("PointAssign/checkQrcodeScan", array("token"=>$token));?>', function(resp){
		if(resp && resp.status == 0
			&& resp.data && resp.data.finish == 1){
			window.location = "<?php echo U('PointAssign/generatesharepath', array('token'=>$token));?>";
			return;
		}

		setTimeout('checkQrcodeScan()', 1000);
	});
}
$(function(){
	checkQrcodeScan();
});
</script>
</block>