<div class="index_right_tt">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="10%"><img src="__IMG__/indexrightitme.gif" width="17" height="15" /></td>
            <td width="70%">房产动态</td>
            <td width="20%"><a href="{:U('HouseNews/index')}">更多&gt;&gt;</a></td>
        </tr>
    </table>
</div>
<div class="index_news_list">
    <ul>
        <volist name="dataList" id="data">
        <li class="<eq name='data.level' value='3'>top<else />ntop</eq>"><span>{$key + 1}</span><a href="{:U('HouseNews/detail', array('document_id'=>$data['id'], 'category_title'=>$data['title']))}" >{$data.title}</a><em>{$data.create_time|date='Y-m-d',###}</em></li>
        </volist>
    </ul>
    
    <div class="clear"></div>
</div>