<?php
$pics = '';
$links = '';
$titles = '';
$colors="0xB4060F|0xFF9900|0xffffff|#ffff00|#ffff00";

foreach ($dataList as $data) {
	$pics .= (empty($pics) ? '' : '###') . $data['cover_url'];
	$links .= (empty($links) ? '' : '###') . U('HouseNews/detail', array('id'=>$data['id']));
	$titles .= (empty($titles) ? '' : '###') . $data['title'];
}
?>

<div id="flashcontent" class="map5"></div>
<script type="text/javascript">
var focus_width=350;
var focus_height=200;
var text_height=0;
var swf_height=focus_height + 0;
var pics="{$pics}";
var links="{$links}";
var texts="{$titles}";
var descripts="{$titles}";
var fo = new SWFObject("__STATIC__/imageslide/pix.swf", "_FocusObj", focus_width, swf_height, "7","F6F8FA");
fo.addVariable("pics", pics);
fo.addVariable("links", links);
fo.addVariable("texts", texts); 
fo.addVariable("descripts", descripts);
fo.addVariable("borderwidth", focus_width);
fo.addVariable("borderheight", focus_height);
//fo.addVariable("textheight", text_height);
fo.addVariable("border_color", "#666"); 
//fo.addVariable("fontsize", "24"); 
//fo.addVariable("fontcolor", "FFFFFF");
fo.addVariable("is_border", "");
fo.addVariable("is_text", "1");
fo.addParam("wmode", "opaque");
fo.write("flashcontent");
</script>