<div class="index_right_tt">
	热门商铺出售
</div>
<div class="index_spcs_box">
	<ul>
		<li class="top">
			<img />
			亿丰国际汽车城 <span>11000元</span>/平米亿丰大连国际汽车城项目位于大连市甘井子区西 北路872号，向北是大连 
		</li>
		<li class="top">
			<img />
			亿丰国际汽车城 <span>11000元</span>/平米亿丰大连国际汽车城项目位于大连市甘井子区西 北路872号，向北是大连 
		</li>
	</ul>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="51%">城市印象</td>
			<td width="30%" align="center">甘井子区</td>
			<td width="19%" align="right"><span>100</span>万元</td>
		</tr>
		<tr>
			<td>城市印象</td>
			<td align="center">甘井子区</td>
			<td align="right"><span>100</span>万元</td>
		</tr>
		<tr>
			<td>城市印象</td>
			<td align="center">甘井子区</td>
			<td align="right"><span>100</span>万元</td>
		</tr>
	</table>
</div>