<div class="left_hotlp_tt">附近推荐</div>
<ul class="hotlp_box">
    <volist name="dataList" id="data">
	    <li>
        <div class="hotlp_box_line">
        <a href="{:U('OfficeMarket/detail', array('id'=>$data['id']))}"><img src="{$data.thumbnail|get_img=219,172}" /></a>
        <a href="{:U('OfficeMarket/detail', array('id'=>$data['id']))}" class="hotlp_lpname">{$data.title}</a>
        <div class="clear"></div>
        价格：{$data.price}{$data.price_unit|get_lookup_value='OFFICE_MARKET_PRICE_UNIT',###}<br />
        电话：{$data.contact_tel}<br />
        地址：{$data.area_name}{$data.busi_area_name}<br />
	        </div>
    </li>
    </volist>
    <div class="clear"></div>
</ul>