<div class="index_right_tt">
	热门商铺出售
</div>
<div class="index_spcs_box">
	<ul>
		<volist name="dataList" id="data" offset="0" length="2">
			<li class="top"><a href="{:U('OfficeMarket/detail', array('id'=>$data['id']))}" style="">
				<img src="{$data.thumbnail|get_img=172,126}" />
				{$data.title} <span>{$data.price}{$data.price_unit|get_lookup_value='OFFICE_MARKET_PRICE_UNIT', ###}</span>
				楼盘：<em>{$data.real_estate}</em></a>
			</li>
		</volist>	
	</ul>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<volist name="dataList" id="data" offset="2" length="3">
			<tr>
				<td width="70%"><a href="{:U('OfficeMarket/detail', array('id'=>$data['id']))}">{$data.title|get_string_diy=###,42}</a></td>
				
				<td width="30%" align="right"><span>{$data.price}{$data.price_unit|get_lookup_value='OFFICE_MARKET_PRICE_UNIT', ###}</span></td>
			</tr>
		</volist>
	</table>
</div>