<extend name="Public/base"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/adgallery/jquery.ad-gallery.css">
<style type="text/css">
.mapbreak{
	margin-bottom: 10px;
}
</style>
</block>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/adgallery/jquery.ad-gallery.js"></script>
<script type="text/javascript">
$(function(){
    $('.ad-gallery').adGallery();
});
</script>
</block>

<block name="content">
	<div class="mapbreak"><span>写字楼商铺&nbsp;&gt;&nbsp;{$city.name}旺铺&nbsp;&gt;&nbsp;{$data.area_name}</span></div>
	<div class="left_hotlp">
        <div class="left_hotlp_tt">{$data.title} {:W('Tag/showTag', array($data['feature'], 'fortab'))}</div>
		<div class="home_pic">
            <div class="ad-gallery">
    			<div class="ad-image-wrapper"></div>
                <div class="ad-nav">
                    <div class="ad-thumbs">
                        <ul class="ad-thumb-list">
                            <volist id='housePic' name='data.picList'>
                            <li><a href="__ROOT__{$housePic.path}"><img style="height:60px;" src="__ROOT__{$housePic.path}"/></a></li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
		<div class="fcxq">
		价钱：<span class="redtext">{$data.price}</span>{$data.price_unit|get_lookup_value='OFFICE_MARKET_PRICE_UNIT',###}
		<br />
		面积：<em>{$data.square}&nbsp;平米</em>&nbsp;&nbsp;&nbsp;&nbsp;类型：<em>{$data.bd_type|get_lookup_value='OFFICE_MARKET_BD_TYPE',###}</em>&nbsp;&nbsp;&nbsp;&nbsp;
		<br />
        <div class="line_grey" ></div>
        位置：<em>{$data.busi_area_name},{$data.area_sector}附近的{$data.area_sector_nearby}</em>
        <br />
        概要：<em>{$data.description}</em>
        <br />
        楼盘：<em>{$data.real_estate}</em>
        <br />
        <if condition="$data.comp_register eq 'Y'">
        	可注册公司
        <else />
        	不可注册公司
        </if>
        <br/>
        经纪人：<em>{$data.contact}</em>
        <br />
        <div class="tel_bp">{$data.contact_tel}</div>
    </div>
    <div class="clear"></div>
    <div class="index_left_tt">房源描述</div>
    	
    <div>
    	{$data.desc_txt|htmlspecialchars_decode}
    </div>
    <volist id='housePic' name='data.picList'>
    <img src="__ROOT__{$housePic.path}" style="max-width:726px"/>
    </volist>
    <div class="index_left_tt">地理位置</div>
    <div id="baidumap_forpick" style="height:300px;max-width:726px"></div>
    {:W('House/officeMarketNearby', array($data['id'], array('busi_area'=>$data['busi_area'])))}
    </div>
    <!--left end-->
    <!--rigth start-->
    <div class="right_hotlp">
   
    	<div class="guanzhu">
        
        </div>
   	  <br /><BR />
    {:W('House/officeMarketSuggest')}
    </div>
    <!--rigth end-->
    
    <div class="clear"></div>
</block>