<extend name="Public/base"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/adgallery/jquery.ad-gallery.css">
</block>

<block name="content">
<div class="content_box">
	<img src="__IMG__/banner_ad.jpg" style="width:1000px;height:108px;margin:15px 0 5px;" />
	<div class="index_left_tt">房屋买卖<span>最新二手房源</span></div>
	<volist name="houseSaleList" id="house" mod="4">
	<a href="{:U('HouseSale/detail', array('id'=>$house['id']))}" target="_blank" class="index_rslist">
		<img src="{$house.thumbnail|get_img=240,170}" />
		<span>{$house.area_name} {$house.busi_area_name}</span> <em>{$house.price}万</em>
		<div class="pingshu"><span>{$house.bed_room}室{$house.live_room}厅 | {$house.square}㎡</span></div>
	</a>
	<eq name="mod" value="3">
	<div class="clear"></div>
	</eq>
	</volist>

	<div class="contenmid_dox">
		<div class="fangwuzulin">
  			<div class="index_left_tt">房屋租赁</div>
			<volist name="houseRentList" id="house" mod="4">
			<a href="{:U('HouseRent/detail', array('id'=>$house['id']))}" target="_blank" class="fangwuzulin_list">
			<img src="{$house.thumbnail|get_img=175,125}" />
			{$house.area_name}-{$house.busi_area_name}<br />
			{$house.bed_room}室{$house.live_room}厅，{$house.decorate|get_lookup_value='HOUSE_DECORATE_TYPE',###}<br />
			<span>{$house.price}元/月</span>
			</a>
			<eq name="mod" value="3">
				<div class="clear"></div>
			</eq>
			</volist>
		</div>
		<div class="index_guanzhu"></div>
	</div>
	<div class="clear"></div>
	
	<div class="contenmid_dox">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="69%"><img src="__IMG__/banner_ad2.jpg" alt="" width="685" height="87" /></td>
				<td width="16%"><a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang1.gif" width="150" height="87" /></a></td>
				<td width="15%"><a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang2.gif" width="150" height="87" /></a></td>
			</tr>
		</table>
	</div>

	<div class="left_hotlp2">
		<div class="left_hotlp_tt">热门楼盘</div>
		<div id="gallery" class="ad-gallery">
			<div class="ad-image-wrapper"></div>
			<div class="ad-nav">
				<div class="ad-thumbs">
					<ul class="ad-thumb-list">
						<volist name="agentMarket.picList" id="ap">
						<li>
							<a href="{$ap.path|get_img=685,500,true}">
								<img title="{$agentMarket.title}" longdesc="{$agentMarket.pref_txt}" src="{$ap.path|get_img=172,126}">
							</a>
						</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="index_right">
    	{:W('House/houseNewsLatest')}
    	
        <br />
        {:W('House/officeMarketHot')}
        <div class="index_right_tt">
        商铺快搜
  	 	</div>
        <div class="index_spks">
        [商圈]<a href="#">奥林匹克广场</a><a href="#">金马路</a><a href="#">奥林匹克广场</a><a href="#">金马路</a><br />
        [租金]<a href="#">1000以下</a><a href="#">1000-1500</a><a href="#">1500-2000</a><a href="#">更多</a><br />
        
        [热点]<a href="#">住宅底商</a><a href="#">临街门面</a><a href="#">写字楼配套底商</a><a href="#">更多</a><br />
        </div>
  </div>
<div class="clear"></div>
</div>
</block>

<block name="footscript">
<script type="text/javascript" src="__STATIC__/adgallery/jquery.ad-gallery.js"></script>
<script type="text/javascript">
$(function(){
	$('#gallery').adGallery({
		display_back_and_forward: false,
		width: 685,
		height: 500,
		slideshow: {
			autostart: true
		}
	});
});
</script>
</block>