<extend name="Public/base"/>

<block name="style">
</block>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/zepto/zepto.min.js"></script>
<script type="text/javascript" src="__STATIC__/zepto/zepto.touchCarousel.js"></script>
<script type="text/javascript">
$(function(){
	$('*[data-tel]').click(function(){
		var tel = $(this).attr('data-tel');
		window.location.href = 'tel:' + tel;
	});

	$('img.lazy-load').each(function(){
		$this = $(this);
		$this.attr('src', $this.attr('data-src'));
	});

	$('.carousel').touchCarousel({});
});
</script>
</block>

<block name="content">
	<div class="carousel">
		<volist name="data.picList" id="pic">
		<div><img class="lazy-load" data-src="__ROOT__{$pic.path}"></div>
		</volist>
	</div>

	<div class="detail-info">
		<h3>{$data.title}</h3>
	</div>

	<div class="detail-info">
		<table>
			<tbody>
				<tr>
					<th>价格：</th><td class="price">{$data.price}万</td>
					<th>时间：</th><td>{$data.create_time|date='Y-m-d',###}</td>
				</tr>
				<tr>
					<th>户型：</th><td>{$data.bed_room}室{$data.live_room}厅{$data.toilet}卫</td>
					<th>面积：</th><td>{$data.square}平米</td>
				</tr>
				<tr>
					<th>楼层：</th><td>{$data.floor}/{$data.floor_max}</td>
					<th>朝向：</th><td>{$data.face|get_lookup_value='HOUSE_FACE_TYPE',###}</td>
				</tr>
				<tr>
					<th>装修：</th><td>{$data.decorate|get_lookup_value='HOUSE_DECORATE_TYPE',###}</td>
					
				</tr>
			</tbody>
		</table>
	</div>

	<div class="tab-container">

		<div class="title-plain">配套设施</div>
		<div class="panel panel-content">
			{$data.add_on}
		</div>

		<div class="title-plain">详细描述</div>
		<div class="panel panel-content">
			{$data.desc_txt|htmlspecialchars_decode}
		</div>

	</div>

	<div class="footer footer-fixed" data-tel="{$data.contact_tel}">
		<img class="pull-left" src="__IMG__/contact_tel.png">
		<img class="pull-right" src="__IMG__/arrow_right_01.gif">
		<h2>{$data.contact_tel}</h2>
	</div>
</block>