<extend name="Public/base_rich"/>
<block name="headscript">
<script type="text/javascript" src="__STATIC__/zepto/zepto.min.js"></script>
</block>
<block name="content">
<div class="tab-container">
	<div class="search">
		<form action="{:U('HouseSale/index')}" method="get">
			<input type="text" name="search" placeholder="请输入标题或小区名"/><input type="submit" class="searchbtn" value="搜索"/>
		</form>
	</div>
	<!-- <div class="panel">
		<div class="panel-title"><span class="icon">|</span> 从区域、价格开始</div>
		<ul class="filter-group">
			<li><a href="#">甘井子</a></li>
			<li><a href="#">开发区</a></li>
			<li><a href="#">高新园区</a></li>
			<li><a href="#">金州</a></li>
			<li><a href="#">旅顺口</a></li>
			<li><a href="#">中山</a></li>
			<li><a href="#">沙河口</a></li>
			<li><a href="{:U('filter')}">更多</a></li>
		</ul>
		<ul class="filter-group">
			<li><a href="#">30万以下</a></li>
			<li><a href="#">30-40万</a></li>
			<li><a href="#">40-50万</a></li>
			<li><a href="#">50-60万</a></li>
			<li><a href="#">60-80万</a></li>
			<li><a href="#">更多</a></li>
		</ul>
	</div> -->
	<div class="panel">
		<div class="panel-title"><span class="icon">|</span> {$city.name}<a class="btn pull-right btn-small" href="{:U('HouseSale/filter')}">筛选</a></div>
		<volist name="dataList" id="data">
			<div class="data-item" data-href="{:U('HouseSale/detail', array('id'=>$data['id']))}">
				<img class="lazy-load" data-src="{$data.thumbnail|get_img=172,126}"/>
				<div class="data-info">
					<h4>{$data.title}</h4>
					{$data.area_name} {$data.busi_area_name} {$data.bed_room}室{$data.live_room}厅
					<span class="price">{$data.price}万</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</volist>
		<div class="pagination">{$page}</div>
	</div>
</div>
</block>

<block name="footscript">
<script type="text/javascript">
$(function(){
	$('img.lazy-load').each(function(){
		$this = $(this);
		$this.attr('src', $this.attr('data-src'));
	});

	$('div.data-item').click(function(){
		var href = $(this).attr('data-href');
		if(href){
			window.location.href = href;
		}
	});
});
</script>
</block>