<extend name="Public/base_rich"/>

<block name="headscript">
<script type="text/javascript" src="__STATIC__/zepto/zepto.min.js"></script>
</block>

<block name="content">

<div class="tab-container">
	<div class="search">
		<form action="{:U('HouseSale/lists')}" method="get">
			<input type="text" name="search" placeholder="请输入标题或小区名"/><input type="submit" class="searchbtn" value="搜索"/>
		</form>
	</div>

	<div class="panel">
		<div class="panel-title">
			<span class="icon">|</span> {$city.name}
			<span class="filter-desc">{$param}</span>
			<a class="btn pull-right btn-small" href="{:U('HouseSale/filter')}">筛选</a>

		</div>

		<div class="sortnav">
			<ul>
				<if condition="$sort eq 'square-asc'">
					<li <eq name="sort" value="square-asc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'square-desc'))}">面积↑</a></li>
				<else />
					<li <eq name="sort" value="square-desc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'square-asc'))}">面积↓</a></li>
				</if>
				<if condition="$sort eq 'price-asc'">
					<li <eq name="sort" value="price-asc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'price-desc'))}">价格↑</a></li>
				<else />
					<li <eq name="sort" value="price-desc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'price-asc'))}">价格↓</a></li>
				</if>
				<if condition="$sort eq 'create_time-asc'">
					<li <eq name="sort" value="create_time-asc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'create_time-desc'))}">时间↑</a></li>
				<else />
					<li <eq name="sort" value="create_time-desc">class="active"</eq>><a href="{:U('HouseSale/lists',array('sort'=>'create_time-asc'))}">时间↓</a></li>
				</if>
			</ul>
		</div>
		
		<hr>	

		<volist name="dataList" id="data">
		<div class="data-item" data-href="{:U('HouseSale/sharepathdetail', array('id'=>$data['id']))}">
			<img class="lazy-load" data-src="{$data.thumbnail|get_img=172,126}"/>
			<div class="data-info">
				<h4>{$data.title}</h4>
				{$data.area_name} {$data.busi_area_name} {$data.bed_room}室{$data.live_room}厅 {$data.square}m<sup>2</sup>
				<span class="price">{$data.price}万</span>
			</div>
			<div class="clearfix"></div>
		</div>
		</volist>
	</div>

	<div class="pagination">{$page}</div>
</div>
</block>

<block name="footscript">
<script type="text/javascript">
$(function(){
	$('img.lazy-load').each(function(){
		$this = $(this);
		$this.attr('src', $this.attr('data-src'));
	});

	$('div.data-item').click(function(){
		var href = $(this).attr('data-href');
		if(href){
			window.location.href = href;
		}
	});
});
</script>
</block>