<extend name="Public/base"/>

<block name="content">
	<div style="text-align:left;">

	<form action="{:U('User/infosubmit')}" method="post" class="form-horizontal">

		<div class="form-group">
			<label>联系人</label>
			<input type="text" name="contact" value=""/>
		</div>

		<div class="form-group">
			<label>联系电话</label>
			<input type="text" name="contact_tel" value=""/>
		</div>

		<div class="form-group">
			<label>描述</label>
		</div>
		<div class="form-group">
			<textarea name="content"></textarea>
		</div>

		<div class="form-group">
			<input type="submit" value="提交"/>
		</div>

	</form>

	</div>

</block>