<extend name="Public/base"/>
<block name="content">
<!--content start-->
<div class="content_box">
	<div class="login_box">
    	<div class="login_body">
        	<div class="login_tt">用户登陆</div>
            <br />   <br />
            <form action="{:U('User/register')}" method="post" >
            <table width="85%" border="0" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto">
              <tr>
                <td width="25%" align="left">用户名：</td>
                <td width="75%" align="left"><input type="text" class="input_text" name="username" /></td>
              </tr>
              <tr>
                <td align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="left">密码：</td>
                <td align="left"><input type="password" class="input_text" name="password" /></td>
              </tr>
              <tr>
                <td align="left">确认密码：</td>
                <td align="left"><input type="password" class="input_text" name="repassword" /></td>
              </tr>
              <tr>
                <td align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
               <tr>
                <td align="left">&nbsp;</td>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="left">&nbsp;</td>
                <td width="75%" align="right">
                  <table>
                  <tr>
                    <td width="50%"><a href="#" class="login_btn">登陆</a></td>
                    <td width="50%"><a href="#" class="login_btn">提交注册</a></td>
                  </tr>
                  </table>
                  
                </td>
              </tr>
			      </table>
            </form>
    	</div>
    
    </div>

</div>
<!--content end-->
</block>
