<extend name="Public/base"/>

<block name="content">

<div class="tab-container">
	<div class="search">
		<input type="text" name="search" placeholder="请输楼盘或小区名"/><input type="submit" class="searchbtn" value="搜索"/>
	</div>
	<div class="panel">
		<div class="panel-title"><span class="icon">|</span> 从区域、价格开始</div>
		<ul class="filter-group">
			<li><a href="#">甘井子</a></li>
			<li><a href="#">开发区</a></li>
			<li><a href="#">高新园区</a></li>
			<li><a href="#">金州</a></li>
			<li><a href="#">旅顺口</a></li>
			<li><a href="#">中山</a></li>
			<li><a href="#">沙河口</a></li>
			<li><a href="#">更多</a></li>
		</ul>
		<ul class="filter-group">
			<li><a href="#">30万以下</a></li>
			<li><a href="#">30-40万</a></li>
			<li><a href="#">40-50万</a></li>
			<li><a href="#">50-60万</a></li>
			<li><a href="#">60-80万</a></li>
			<li><a href="#">更多</a></li>
		</ul>
	</div>
	<div class="panel">
		<div class="panel-title"><span class="icon">|</span> 推荐二手房</div>
		<div class="data-item">
			<img src="__ROOT__/Uploads/Picture/2014-06-13/runtime/539afefc55b36_172_126.jpg"/>
			<div class="data-info">
				<h3>房屋标题标题房屋</h3>
				北京街 北京街散盘<br/>
				1室1厅 整租
				<span class="price">1400元/月</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="data-item">
			<img src="__ROOT__/Uploads/Picture/2014-06-13/runtime/539afefc55b36_172_126.jpg"/>
			<div class="data-info">
				<h3>房屋标题标题房屋</h3>
				北京街 北京街散盘<br/>
				1室1厅 整租
				<span class="price">1400元/月</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="data-item">
			<img src="__ROOT__/Uploads/Picture/2014-06-13/runtime/539afefc55b36_172_126.jpg"/>
			<div class="data-info">
				<h3>房屋标题标题房屋</h3>
				北京街 北京街散盘<br/>
				1室1厅 整租
				<span class="price">1400元/月</span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="data-item">
			<img src="__ROOT__/Uploads/Picture/2014-06-13/runtime/539afefc55b36_172_126.jpg"/>
			<div class="data-info">
				<h3>房屋标题标题房屋</h3>
				北京街 北京街散盘<br/>
				1室1厅 整租
				<span class="price">1400元/月</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</block>