<extend name="Public/base"/>
<block name="script">
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.my.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
	$('#content').removeClass('form-control');
	window.UEDITOR_HOME_URL = "__STATIC__/ueditor/";
	var editor = UE.getEditor('content');
});
</script>
</block>

<block name="content">

<form role="form" action="{:U('HouseNews/update')}" method="post" class="form-horizontal">
	<input type="hidden" name="id" value="{$data.id}"/>
	<bs:textfield name="title" value="{$data.title}" label="标题" layout="1:4"/>
	<bs:textfield name="description" value="{$data.description}" label="描述" layout="1:4"/>
	<div class="form-group">
		<label for='level' class='control-label col-sm-1'>优先级</label>
		<div class='col-sm-4'>
			<select class="form-control" name="level">
			  <option <eq name="data['level']" value="0">selected</eq>>0</option>
			  <option <eq name="data['level']" value="1">selected</eq>>1</option>
			  <option <eq name="data['level']" value="2">selected</eq>>2</option>
			  <option <eq name="data['level']" value="3">selected</eq>>3</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for='category_id' class='control-label col-sm-1'>分类</label>
		<div class='col-sm-4'>
			<select class="form-control" name="category_id">
			  <option value="1" <eq name="data['category_id']" value="1">selected</eq>>专题推荐</option>
			  <option value="2" <eq name="data['category_id']" value="2">selected</eq>>买房小道</option>
			  <option value="3" <eq name="data['category_id']" value="3">selected</eq>>今日要闻</option>
			  <option value="4" <eq name="data['category_id']" value="4">selected</eq>>访谈活动</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class='control-label col-sm-1'>详细信息</label>
		<div class='col-sm-11'>
			<bs:textarea name="content" value="{$data.content}" layout="0:12"/>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-2">
			<input type="submit" class="btn btn-info form-control" value="更&nbsp;&nbsp;新"/>
		</div>
		<div class="col-sm-2">
			<a href="{:U('HouseNews/lists')}" class="btn btn-info form-control">返&nbsp;&nbsp;回</a>
		</div>
	</div>

</form>
	
</block>