<extend name="Public/base"/>

<block name="content">
	<div class="mapbreak"><span>公司简介&nbsp;&gt;&nbsp;</div>
	<div class="news_left">
		<div class="left_hotlp_tt">恒润房产</div>
		<div style="position:relative;text-align:left;font-size:16px;">
			{$content}
		</div>
	</div>

	<div class="news_right">
		<div class="index_guanzhu"></div>
		<div class="clear"></div>
		<table width="246" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="60"> <a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang3.gif" width="245" height="52" /></a></td>
			</tr>
			<tr>
				<td height="60"> <a href="{:U('User/infosubmit')}" target="_blank"><img src="__IMG__/maifang4.gif" width="245" height="52" /></a></td>
			</tr>
		</table>

		{:W('House/houseSaleSuggest')} 

		{:W('House/houseRentSuggest')} 
	</div>
</block>