<extend name="Public/base_rich"/>
<block name="headscript">
<script type="text/javascript" src="__STATIC__/zepto/zepto.min.js"></script>
</block>
<block name="content">
<div class="tab-container">
	<div class="search">
		<form action="{:U('HouseRent/lists')}" method="get">
			<input type="text" name="search" placeholder="请输入楼盘或标题名"/><input type="submit" class="searchbtn" value="搜索"/>
		</form>
	</div>


	
	<div class="panel">
		<div class="panel-title"><span class="icon">|</span> {$city.name}<span class="filter-desc">{$param}</span>
			<button type="button" class="button blue pull-right" onclick="location='{:U('HouseRent/filter')}'">筛选</button>
		</div>

		<div class="sortnav">
			<if condition="$sort eq 'square-asc'">
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'square-desc'))}'">面积↑</button>
			<else />
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'square-asc'))}'">面积↓</button>
			</if>	
			<if condition="$sort eq 'price-asc'">
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'price-desc'))}'">价格↑</button>
			<else />
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'price-asc'))}'">价格↓</button>
			</if>
			<if condition="$sort eq 'create_time-asc'">
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'create_time-desc'))}'">时间↑</button>
			<else />
				<button type="button" class="button gray" onclick="location='{:U('HouseRent/lists',array('sort'=>'create_time-asc'))}'">时间↓</button>
			</if>
		</div>
		<hr>	

		<volist name="dataList" id="data">
			<div class="data-item" data-href="{:U('HouseRent/detail', array('id'=>$data['id']))}">
				<img class="lazy-load" data-src="{$data.thumbnail|get_img=172,126}"/>
				<div class="data-info">
					<h4>{$data.title}</h4>
					{$data.community} {$data.bed_room}室{$data.live_room}厅 {$data.square}平米
					<span class="price">{$data.price}元/月</span>
				</div>
				<div class="clearfix"></div>
			</div>
		</volist>
		<div class="pagination">{$page}</div>
	</div>
</div>
</block>

<block name="footscript">
<script type="text/javascript">
$(function(){
	$('img.lazy-load').each(function(){
		$this = $(this);
		$this.attr('src', $this.attr('data-src'));
	});

	$('div.data-item').click(function(){
		var href = $(this).attr('data-href');
		if(href){
			window.location.href = href;
		}
	});
});
</script>
</block>