@charset "utf-8";
html,body,div,ul,form,table,img{
	margin: 0px;
	padding: 0px;
	border: none;
}
body{
	font-family: helvetica, "Microsoft Yahei", sans-serif;
	font-size: 12px;
}
hr
{
	width:95%;
	height:1px;
}
table input.label
{
	border: 1px solid #BEA170;
}
em
{
	font-style: normal;
}
ul,li
{
	list-style-position: outside;
	list-style-type: none;
}
input,select,textarea{
	border: 1px solid #7F9DB9;
}
input
{
	vertical-align: middle;
	text-align: left;
	background-repeat: no-repeat;
	background-position: center;
}
select
{
	vertical-align:middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-align: center;
}
textarea{
	border: 1px solid #7F9DB9;
}
a
{
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.clear
{
	clear:both;
}
