<extend name="Public/base"/>

<block name="content">
<div class="mapbreak"><span>房产动态&nbsp;&gt;&nbsp;</span> {$city.name}{$category_title} </div>	
<!--left start-->
	<div class="news_left">
    <div class="left_hotlp_tt">{$news.title}</div>
  	<div style="position:relative;text-align:left;">
  		{$news.content|htmlspecialchars_decode}
  	</div>
	</div>
<!--left end-->
  
  <!--right start-->    
  <div class="news_right">
    <div class="index_guanzhu"></div>
    
  	<table width="246" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td height="60"><a href="#"><img src="__IMG__/maifang3.gif" width="245" height="52" /></a>
          </td>
      </tr>
      <tr>
          <td height="60"> <a href="#"><img src="__IMG__/maifang4.gif" width="245" height="52" /></a></td>
      </tr>
    </table>
    {:W('House/houseSaleSuggest')}
  </div>
    <!--right end-->
</block>