<extend name="Public/base"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__STATIC__/adgallery/jquery.ad-gallery.css">
</block>

<block name="content">
	<div class="mapbreak"><span>代理楼盘&nbsp;&gt;&nbsp;</div>
	<div class="news_left">
		<div id="gallery" class="ad-gallery">
			<div class="ad-image-wrapper"></div>
			<div class="ad-nav">
				<div class="ad-thumbs">
					<ul class="ad-thumb-list">
						<volist name="dataList" id="data">
						<li>
							<a href="{$data.thumbnail|get_img=685,500,true}">
								<img title="{$data.title}" longdesc="{$data.pref_txt}" src="{$data.thumbnail|get_img=172,126}" href="{:U('AgentMarket/detail', array('id'=>$data['id']))}">
							</a>
						</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="news_right">
		<div class="index_guanzhu"></div>
		<div class="clear"></div>
		<table width="246" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="60"> <a href="{:U('User/infosubmit')}"><img src="__IMG__/maifang3.gif" width="245" height="52" /></a></td>
			</tr>
			<tr>
				<td height="60"> <a href="{:U('User/infosubmit')}"><img src="__IMG__/maifang4.gif" width="245" height="52" /></a></td>
			</tr>
		</table>
		{:W('House/houseSaleSuggest', array(1))}
	</div>
</block>

<block name="footscript">
<script type="text/javascript" src="__STATIC__/adgallery/jquery.ad-gallery.my.js"></script>
<script type="text/javascript">
$(function(){
	$('#gallery').adGallery({
		display_back_and_forward: false,
		width: 740,
		height: 500,
		slideshow: {
			autostart: true
		}
	});
});
</script>
</block>