<extend name="Public/base" />

<block name="content">

<form action="{:U('User/add')}" method="post" class="form-horizontal">

<bs:textfield name="username" value="{$data.username}" label="用户名" layout="1:4"/>

<div class="form-group">
	<div class="col-sm-offset-1 col-sm-2">
		<input type="submit" class="btn btn-info form-control" value="提&nbsp;&nbsp;交"/>
	</div>
	<div class="col-sm-2">
		<a href="{:U('User/lists')}" class="btn btn-info form-control">返&nbsp;&nbsp;回</a>
	</div>
</div>

</form>
</block>