<taglib name="bs" />
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>恒润房产管理平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap-theme.min.css"/>
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/html5shiv.min.js"></script>
<script src="__STATIC__/bootstrap/respond.min.js"></script>
<![endif]-->
<style type="text/css">
body{
	background-color: #3271af;
}
.admin-login{
	background: url(__IMG__/admin_login.jpg) no-repeat center center;
	height: 768px;
	padding-left: 600px;
	padding-top: 260px;
}
.admin-login .control-label{
	font-weight: normal;
}
.admin-login .help-block{
	display: inline;
}
</style>
</head>
<body>
<div class="container-fluid admin-login">
	<form action="{:U('User/login')}" method="post" class="form-horizontal" role="form">
	<?php if(isset($actionError)):?>
	<div class="form-group has-error">
		<div class="col-sm-offset-2 col-sm-4">
			<span class="help-block small"><?php echo $actionError;?></span>
		</div>
	</div>
	<?php endif;?>
	<bs:textfield name="username" value="{$data.username}" label="用户名" layout="2:4"/>
	<bs:textfield name="password" value="" label="密码" type="password" layout="2:4"/>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-3">
			<input type="submit" class="btn btn-primary form-control" value="登&nbsp;&nbsp;录"/>
		</div>
	</div>
	</form>
</div>
</body>
</html>