<extend name="Public/base"/>

<block name="content">
	<div class="mapbreak"><span>房屋买卖&nbsp;&gt;&nbsp;</span> {$city.name}二手房 </div>
	<div class="right_hotlp">
		<div class="guanzhu">
		</div>
		{:W('House/houseSaleSuggest')}
	</div>

	<div class="left_hotlp">
		<div class="filter-group">
			<div class="filter-label">区域：</div>
			{:W('District/showFilter',array("__ROOT__/home/house_sale/index/area/[area]/price/$price/square/$square/room/$room.html", $city, $area))}
		</div>
		<div class="filter-group">
			<div class="filter-label">价格：</div>
			{:W('Lookup/showFilter', array("__ROOT__/home/house_sale/index/area/$area/price/[price]/square/$square/room/$room.html", '[price]', 'HOUSE_SALE_PRICE_RANGE', $price))}
		</div>
		<div class="filter-group">
			<div class="filter-label">面积：</div>
			{:W('Lookup/showFilter', array("__ROOT__/home/house_sale/index/area/$area/price/$price/square/[square]/room/$room.html", '[square]', 'HOUSE_SALE_SQUARE_RANGE', $square))}
		</div>
		<div class="filter-group last">
			<div class="filter-label">户型：</div>
			{:W('Lookup/showFilter', array("__ROOT__/home/house_sale/index/area/$area/price/$price/square/$square/room/[room].html", '[room]', 'HOUSE_RENT_BEDROOM', $room))}
		</div>
		<div class="sort-group">
			<div class="filter-label">排序：</div>
			{:W('Sort/showSort', array(array('h.square'=>'面积','h.price'=>'价格','h.create_time'=>'时间'), "__ROOT__/home/house_sale/index/area/$area/price/$price/square/$square/room/$room.html"))}
		</div>

		<ul class="ssjg">
			<volist name="dataList" id="data">
			<li>
				<a href="{:U('HouseSale/detail', array('id'=>$data['id']))}" target="_blank">
					<img src="{$data.thumbnail|get_img=172,126}"/>
					<div class="ssjg_tt">{$data.title}</div>
					<div class="ssjg_xq">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left">{$data.community}</td>
								<td align="left">{$data.bed_room}室{$data.live_room}厅</td>
								<td align="left">{$data.square}平米</td>
								<td align="left"><span>{$data.price}万</span></td>
							</tr>
						</table>
					</div>
					<div class="ssjg_text">
						{$data.floor}/{$data.floor_max}层,{$data.face|get_lookup_value='HOUSE_FACE_TYPE',###},{$data.decorate|get_lookup_value='HOUSE_DECORATE_TYPE',###},{$data.busi_area_name},{$data.build_year}年建,{$data.structure|get_lookup_value='HOUSE_STRUCTURE_TYPE',###}<br />
						{$data.create_time|date='Y-m-d',###}发布 {:W('Tag/showTag', array($data['add_on']))}
					</div>
				</a>
			</li>
			</volist>
		</ul>
		<div class="page">
		{$page}
		</div>
	</div>
	
</block>