<extend name="Public/base"/>

<block name="script">
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.my.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
	window.UEDITOR_HOME_URL = "__STATIC__/ueditor/";
	var editor = UE.getEditor('content');
	$('#content').removeClass('form-control');
});
</script>
</block>

<block name="content">
	<form action="{:U('Company/edit')}" method="post" class="form-horizontal">
		<input type="hidden" name="id" value="{$data.id}"/>
		<input type="hidden" name="uid" value="{$data.uid}"/>
		<input type="hidden" name="category_id" value="{$data.category_id}"/>
		<input type="hidden" name="description" value="{$data.description}"/>
		<input type="hidden" name="level" value="{$data.level}"/>
		<input type="hidden" name="create_time" value="{$data.create_time}"/>
		<input type="hidden" name="update_time" value="{$data.update_time}"/>
		<input type="hidden" name="status" value="{$data.status}"/>

		<bs:textfield name="title" value="{$data.title}" label="标题" layout="2:5"/>

		<bs:textarea name="content" value="{$data.content}" label="内容" layout="2:9"/>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-3">
				<input type="submit" class="btn btn-primary form-control" value="保&nbsp;&nbsp;存"/>
			</div>
		</div>
	</form>
</block>